<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        table {
            border: solid 3px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div th:replace="~{/home::header}"></div>
<div class="p-3">
<h2 class="text-center fw-bold">CUSTOMER LIST</h2>

<a th:href="@{/customer/create}">
    <button class="btn btn-success btn-sm my-2">
        <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span> Add new Customer
    </button>
</a>
<form th:action="@{/customer/list}" class="my-3" method="get">
    <input type="text" name="nameSearch" th:value="${nameSearch}" placeholder="nameSearch">
    <input type="text" name="addressSearch" th:value="${addressSearch}" placeholder="addressSearch">
    <input type="text" name="phoneSearch" th:value="${phoneSearch}" placeholder="phoneSearch">
    <button type="submit" name="action" value="search" class="btn btn-secondary btn-sm">Search</button>
</form>
    <div class="notify" style="text-align: center; color: red">
        <div th:if="${mess}">
            <span th:text="${mess}"></span>
        </div>
    </div>
<table class="table table-striped table-bordered" id="customerTable">
    <thead>
    <tr class="text-center bg-info">
        <th>Number</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Id card</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer type</th>
        <th>Update</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="customer, status : ${customerList}">
            <td th:text="${customerList.number * 5 + status.count}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerBirthday}"></td>
            <td th:if="${customer.customerGender== '1'}" th:text="Male"></td>
            <td th:if="${customer.customerGender == '0'}" th:text="Female"></td>
            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td th:if="${customer.customerId}" th:text="${customer.customerType.customerTypeName}"></td>
            <td th:unless="${customer.customerType}"></td>
            <td class="text-center">
                <a th:href="@{/customer/edit/__${customer.customerId}__}">
                    <span><i class="fa-solid fa-pen-to-square"></i></span>
                </a>
            </td>
            <td class="text-center">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                   onclick="deleteCustomer('${customer.customerId}','${customer.customerName}')">
                    <span><i class="fa-solid fa-trash-can"></i></span>
                </a>
            </td>
            <td class="text-center">
                <button th:attr="onclick=|viewCustomer('${customer.customerName}', '${customer.customerBirthday}',
                '${customer.customerGender}', '${customer.customerIdCard}', '${customer.customerPhone}',
                '${customer.customerEmail}', '${customer.customerAddress}',
                '${customer.customerType.customerTypeName}')|"
                        class="btn btn-warning btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewCustomer">
                    <span class="fa-solid fa-user text-light h6 m-auto px-2"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<a href="/"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Back to HOME</a>
    <div>
        <a th:href="@{'/customer/list'(page=${customerList.number - 1},
    nameSearch=${nameSearch}, addressSearch=${addressSearch}, phoneSearch=${phoneSearch})}" th:if="${customerList.hasPrevious()}">Previous</a>
        <span th:text="${customerList.number + 1}"></span>
        <span th:text="${customerList.totalPages}"></span>
        <a th:href="@{'/customer/list'(page=${customerList.number + 1}, nameSearch=${nameSearch}, addressSearch=${addressSearch}, phoneSearch=${phoneSearch})}" th:if="${customerList.hasNext()}">Next</a>
    </div>
</div>
</body>
</html>