<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        table {
            border: solid 3px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:replace="~{/home::header}"></div>
<div class="p-3">

    <h2 class="text-center fw-bold">EMPLOYEE LIST</h2>
    <a th:href="@{/employee/create}">
        <button class="btn btn-success btn-sm my-2">
            <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span> Add new Employee
        </button>
    </a>
    <form th:action="@{/facility/list}" class="my-3">
        <input type="text" name="employeeName" placeholder="input name">
        <input type="text" name="employeeAddress" placeholder="input address">
        <input type="text" name="employeePhone" placeholder="input phone">
        <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <table class="table table-striped table-bordered" id="employeeTable">
        <thead>
        <tr class="text-center bg-info">
            <th>Number</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Id card</th>
            <th>Salary</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Position</th>
            <th>Degree</th>
            <th>Division</th>
            <th>Update</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, status : ${employeeList}">
            <td th:text="${employeeList.number * 5 + status.count}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerBirthday}"></td>
            <td th:if="${customer.customerGender== '1'}" th:text="Male"></td>
            <td th:if="${customer.customerGender == '0'}" th:text="Female"></td>
            <td th:text="${customer.customerIdCard}"></td>
            <td th:text="${customer.customerPhone}"></td>
            <td th:text="${customer.customerEmail}"></td>
            <td th:text="${customer.customerAddress}"></td>
            <td th:text="${customer.customerType.customerTypeName}"></td>
            <td class="text-center">
                <a th:href="@{/customer/edit/__${customer.customerId}__}">
                    <span class="text-warning"><i class="fa-solid fa-pen-to-square"></i></span>
                </a>
            </td>
            <td class="text-center">
                <a data-bs-toggle="modal" data-bs-target="#deleteCustomer"
                   th:attr="onclick=|remove('${customer.customerId}', '${customer.customerName}')|">
                    <span class="text-danger"><i class="fa-solid fa-trash-can"></i></span>
                </a>
            </td>
            <!--            <td class="text-center">-->
            <!--                <a data-bs-toggle="modal" data-bs-target="#deleteCustomer"-->
            <!--                   th:attr="onclick=|deleteCustomer('${customer}')|">-->
            <!--                    <span><i class="fa-solid fa-trash-can"></i></span>-->
            <!--                </a>-->
            <!--            </td>-->
            <td class="text-center">
                <a th:attr="onclick=|details('${customer.customerName}', '${customer.customerBirthday}',
                '${customer.customerGender}', '${customer.customerIdCard}', '${customer.customerPhone}',
                '${customer.customerEmail}', '${customer.customerAddress}',
                '${customer.customerType.customerTypeName}')|" data-bs-toggle="modal" data-bs-target="#viewCustomer">
                    <span class="text-success"><i class="fa-solid fa-eye"></i></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/"><i class="fa-solid fa-house-chimney h5 mx-1"></i> Back to HOME</a>

    <div>
        <a th:href="@{'/employee/list'(page=${employeeList.number - 1},
    employeeName=${employeeName}, employeeAddress=${employeeAddress}, employeePhone=${employeePhone})}"
           th:if="${employeeList.hasPrevious()}">Previous</a>
        <span th:text="${employeeList.number + 1}"></span>
        <span th:text="${employeeList.totalPages}"></span>
        <a th:href="@{'/employee/list'(page=${employeeList.number + 1}, employeeName=${employeeName}, employeeAddress=${employeeAddress}, employeePhone=${employeePhone})}"
           th:if="${employeeList.hasNext()}">Next</a>
    </div>

</div>
</body>
</html>