<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Vlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<h3>Edit product</h3>
<form th:action="@{/update}" th:object="${vlog}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label>Writer:</label>
        <input type="text" th:field="*{writer}"/>
    </div>
    <div>
        <label>Created Date:</label>
        <input type="text" th:field="*{createdDate}"/>
    </div>
    <div>
        <label>Content:</label>
        <input type="text" th:field="*{content}"/>
    </div>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>